
body{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #333;
  color: aliceblue;
  background-image: url("./assets/react.svg");
  background-repeat: no-repeat;
  background-size: 40vh;
  background-blend-mode: overlay;
  background-position: calc(50% - -30vh) calc(50% - 0vh);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li{
  font-size: 1.2rem;;
}

nav .imageContainer{
  display: flex;
  align-items: center;
  gap: 10px;
}

nav img{
  width: 50px;
  height: 50px;
}
nav span{
  font-size: 1.5rem;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
}

.content{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 55px;
}
.content ol{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content li{
  font-size: 1.5rem;
  line-height: 30px;
}
.content li::marker{
  color: #61dafb;
  font-size: 2rem;
}

.rating-ai{
  margin-left: 20px;
  border-left: 1px solid #fff;
  padding-left: 10px;
}
.about-ai{
  width: 100%;
  height: 50vh;
}
.containerAI{
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerAI .card{
  width: 80%;
  margin: 0 auto;
}

.containerAI h1{
  color: #61dafb;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;

}

footer a{
  text-decoration: none;
  color: #61dafb;
  font-size: 1.2rem;
}